html{
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
.hero-section{
    z-index: 20;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM SANS",serif;
}




@mixin mobile{
    @media (max-width:738px){
        @content;
    }
}
@mixin tablet{
    @media (max-width:1024px){
        @content;
    }
}
@mixin dekstop{
    @media(max-width:1366px){
        @content;
    }
}